<nav class="navbar fixed-top">
  <div class="container-fluid flex-row-reverse">
    <%= link_to 'Egivy', root_path, class:"brand" %>
    <h3><%= title %></h3>
    <%= link_to raw("<i class='fas fa-arrow-left' style='font-size:36px'></i>"), user_groups_path, class: 'nav_link_btn' %>
  </div>
</nav>
