@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');

.form-container {
  width: 70%;
  margin: 8rem auto 0 auto;
  color: #3370b3;
}

.brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 2rem;
  font-weight: 600;
}

.brand:hover {
  color: #fff;
  transform: scale(1.2, 1.2);
}

.navbar,
.container-fluid > div {
  background: #3370b3;
  color: #fff;
}

.navbar-toggle {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: #fff;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  transform: scale(1.2, 1.2);
}

.navbar-nav .nav-link {
  color: #fff;
}

.offcanvas.offcanvas-end {
  left: 0;
}
